:root {
    --Base:  #000000;
    --Level-1: #181823;
    --Light-grey: #8491A0;
    --Dark-Grey: #5B6876;
    --Text: #FFFFFF;
    --Primary: #5221E6;
    --Green-Accent: #3CC74E;
    --Pink-Accent: #E95D90;
    --Peach-Accent: #FFF3E4;
    --Violet-Accent: #FBE4FF;
}
html, body {
    scroll-behavior: smooth;
}
body {
    font-family: 'Sen', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
header {
    background-image: linear-gradient(to right,var(--Base) 40%, var(--Level-1) 30%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

}
.nav-bar {
    width: 100%;
    position: fixed;
    z-index: 4;
    background: transparent;
    padding-left: 40px;
}
.nav__bg__start {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #000000;
  z-index: 2;
}

.nav__bg {
  position: relative;
  width: 100%;
  height: 72px;
  background-image: linear-gradient(to right,var(--Base) 40%, var(--Level-1) 30%);
  z-index: 3;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    max-width: 1300px;
    margin: auto;
}
.menu__list {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.menu__item {
    display: flex;
    
}
.menu__link_active {
    transition: 0.3s linear;
    background: var( --Primary);    
}
.menu__link:hover {
    text-decoration: underline;
    transition: 0.3s linear;
}
.menu__link {
    padding: 24px 32px;
    text-decoration: none;
    color: var(--Text);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    
}
.burger-menu{
    display: none;  
}
 .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 22px;
    right: 64px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    }
    .menu-btn > span,
    .menu-btn > span::before, 
    .menu-btn > span::after
    {
    display: block;
    position: absolute;
    width: 100%;        
    height: 4px;
    background-color: black;
    transition-duration: .25s;
    }
    
    .menu-btn > span::before {
    background-color: #C4C4C4;
    content: '';
    top: -7px;
    width: 100%;
    }
   
    .menu-btn > span::after {
    background-color: #C4C4C4;
    content: '';
    top: 3px;
    width: 70%;
    left: 8px;
    }
    .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--Level-1);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
    }
    .menu-item {
    display: block;
    padding: 12px 24px;
    color: var(--Text);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu-item:hover {
    background-color: var(--Primary);
    }
    #menu-toggle{
    opacity: 0;
    }
    #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
    width: 100%;
    left: 0;
    }
    #menu-toggle:checked ~ .menubox{
    visibility: visible;
    right: 0;
    }
.header-section {
    display: flex;
    align-items: center;  
    justify-content: center;
    /* padding: 5rem 2.5rem 5.25rem 0;   */
    padding-bottom: 5.25rem;
}
.header-section__img {
    position: relative;
    background-image: url(static/images/photographer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 750px;
    height: 650px;
}

.header-section__title {
    position: relative;
    right: 4em;
    width: 46.125rem;
}
.header-section__heading {
    flex-shrink: 2;
    width: clamp(320px, 53vw, 738px);
    color: var(--Text);
    font-size: clamp(32px, 7.3vw, 78px);
    font-weight: 700;
    margin-bottom: 2rem;
}
.header-section_span {
    color: rgba(255, 255, 255, 0.50);
}
.header-section__text {
    color: var(--Text);
    font-size: 1.125rem;
    line-height: 1.5;
}
.page {
    background-color: var(--Base);
    padding-top: 120px;
    padding-left: 72px;
}
.page__header {
    max-width: 1400px;
    margin: auto;
}
.page__title{
    /* max-width: 690px; */
    width: clamp(320px, 80vw, 690px);
    margin: 0;
    color: var(--Text);
    font-size: 55px;
    font-weight: 700;
}
.page__text {
    margin: 0;
    color: var(--Light-grey);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.container {
    display: flex;
    max-width: 1400px;
    justify-content: flex-start;
    gap: 66px;
    padding-bottom: 144px;
    padding-right: 20px;
    margin: auto;
}
/* .container__item {
    width: 380px;
} */
.container__title {
    margin-top: 0;
    color: var(--Text);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
.container__title_green {
    color: var(--Green-Accent)
}
.container__title_blue {
    color: var(--Primary);
}
.container__title_pink {
    color: var(--Pink-Accent);
}
.container__text {
    margin: 0;
    color: var(--Light-grey);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.container__number {
    color: #8491A0;
    font-size: 117px;
    font-weight: 400;
    
}

.page__text_upper{
    font-size: 16px;
    text-transform: uppercase;
}
.page-light_peach {
    background-color: var(--Peach-Accent);
}
.wrapper-page {
    display: flex;
    max-width: 1500px;
    margin: auto;
    height: 600px;
}
.page-header {
    margin: auto 79px;
    width: 50%;
    
}
.page-header__title {
    margin: 0;
    color: var(--Level-1);
    font-size: clamp(32px, 7.3vw, 55px);
    /* font-size: 55px; */
    font-style: normal;
    font-weight: 700;

}
.page-header__text {
    color: var(--Dark-Grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    margin: 0;
    margin-top: 24px;   
    max-width: 576px;
    margin-bottom: clamp(67px, 8vw, 134px);
}
.page-header__link {
    color: var(--Level-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    text-decoration: none;
    transition: 0.2s linear;
    
}
.page-header__link_hover {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--Light-grey);
}
.page-header__link_hover:hover {
    transition: 0.2s linear;
    border-bottom: 2px solid var(--Light-grey);
    
}
.page-img {
   background-image: url(image/peach.png);
   background-position: center center;
   background-size: cover; 
   background-repeat: no-repeat;
   
    width: 50%;
    position: relative;
}
.page_wrapper {
    display: flex;
    margin: auto;
    max-width: 1400px;
    gap: 48px 72px;
    padding-right: 72px;
    
}
.page__header_s {
    width: 368px;
    margin: 0; 
    flex-grow: 3; 
}

.container_xl  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 72px;
    margin-bottom: 120px;
    
}
.container__icon {
    margin-bottom: 24px;
}
.container_xl .container__title{
    margin-bottom: 12px;
}
.page_pad-none {
    padding-top: 0;
}
.page-swipper {
    background-color: var(--Base);
    
}
.swipper-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-right: 72px;
}
.swipper-container__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    border: 1px solid var(--Level-1);
}
.wrapper-project {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 193px;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    list-style-type: none;
    padding: 0;
    padding-right: 72px;
}
.project-list__header {
    margin-bottom: 80px;
}
.project-list__text-upper {
    margin: 0;
    color: var(--Light-grey);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
}
.project-list__title {
    
    max-width: 572px;  
    margin: 0;
    color: var(--Text);
    font-size: clamp(32px, 7.3vw, 55px);
    font-weight: 700;
}
.project-list__card {
    background-color: var(--Level-1);
    margin-bottom: 24px;
}
.project-list__card-link {
    text-decoration: none;
}
.project-list__card-wrapper {
    margin: 0;
}
.project-list__card-img{
    width: 100%;
}
.project-list__card-title {
    margin-top: 0;
    color: var(--Text);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 13px;
}
.project-list__card-text {
     margin: 0;
    color: var(--Light-grey);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.project-list__card-footer {
    padding: 40px 32px;
    /* width: 572px; */
}
.project-list__wrapper-bth {
    display: flex;
    justify-content: center;  
    margin-top: 91px;  
}
.project-list__btn {
    /* box-sizing: border-box; */
    width: 247px;
    height: 75px;
    padding: 24px 27px;
    text-align: center;
    background-color: var(--Base);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
    color: var(--Text);
    border: 1px solid var(--Primary);
    cursor: pointer;    
}
.page-light_violet {
    background-color: var(--Violet-Accent);
}
.page-light_violet .page-img {
    background-image: url(image/violet.png);
}
.page-dribbble {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}
.page-header__title_white, .page-header__link_white {
    color: var(--Text);
}
.page-header_white {
    margin: 0;
}
.page-header__text_margin {
    margin-bottom: 40px;
}
.page-header__link_hover-white{
    transition: 0.2s linear;
    border-bottom: 1px solid var(--Text);
}
.page-header__link_hover-white:hover {
    transition: 0.2s linear;
    border-bottom: 2px solid var(--Text);
} 
.dribbble-img {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 72px;
}
.dribbble-img__item {
    width: 100%;
}
.wrapper-project_none-pad {
    padding-bottom: 0;
}
.project-list {
    margin: 0;
}
.project-list__text {
    color: var(--Light-grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 588px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.project-list__wrapper-link{
   
    transition: 0.2s linear;
    border-bottom: 1px solid var(--Text);
}
.project-list__wrapper-link:hover {
    transition: 0.2s linear;
    border-bottom: 2px solid var(--Text);
}
.project-list__link {
    color: var(--Text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    text-decoration: none;
}
.project-list__card_dark {
    margin-bottom: 120px;
    background-color: var(--Base);
}
.project-list__card-wrapper {
    display: flex;
    flex-direction: column;
}
.project-list__card-footer_borber {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding: clamp(32px, 4vw,64px ) ;
    margin: 0;
    border: 1px solid var(--Dark-Grey);
    gap: 64px;
}
.photography {
    max-width: 1500px;
    margin: auto;
}
.page-header__text_margin {
    margin-bottom: 40px;
}
.tabs {
    display: flex;
    flex-direction: column-reverse;
}
.tabs__menu {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}
.tabs__link {
    padding: 12px 16px;
    border: 1px solid var(--Primary);
    background-color: var(--Base);
    color: var(--Text);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;

}
/* .tabs__link_active {
    background-color: var(--Primary);
} */

.tabs__wrapper, .tabs__inp{
    display: none;
}
.tabs__inp:checked + .tabs__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
#content-1:checked~.tabs__menu>[for="content-1"],
#content-2:checked~.tabs__menu>[for="content-2"],
#content-3:checked~.tabs__menu>[for="content-3"],
#content-4:checked~.tabs__menu>[for="content-4"] {
  background-color: var(--Primary);
}

.feedback {
    padding-bottom: 120px;
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding-right: 72px;
    justify-content: space-between;
    gap: 24px;
}

.page-header__title_feedback {
    flex-shrink: 2;
    /* min-width: 390px; */
}

.submission-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.submission-form__wrapper {
    display: flex;
    flex-direction: column;
    width: clamp(320px, 40vw, 526px);
    gap: 40px;
} 
.submission-form__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--Text);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.submission-form__input {
    height: 50px;
}
.submission-form__textarea {
    height: 100px;
    resize: none;
}
.submission-form__textarea, .submission-form__input {
    background: var(--Level-1);
    border: none;
    color: var(--Text);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.submission-form__btn {
    height: 50px;
    width: 100%;
    background: var(--Primary);
    border: none;
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5; 
    text-transform: uppercase;
    cursor: pointer;
    height: 75px;
    /* padding: 24px 32px; */
}
.footer {
    background-color: var(--Level-1);

}
.footer_wrapper {
    padding: 80px 72px;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.footer-socials {
    grid-row: 1/3;
}
.footer-socials__list, .footer-nav__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer-nav {
    grid-column: 2/3;
    grid-row: 1/3;
}
.footer-nav__list {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-nav__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-nav__link {
    text-decoration: none;
    color: var(--Text);
    font-size: 16px;
    line-height: 150%; 
    transition: 0.3s linear;
}
.footer-nav__link:hover {
 transition: 0.3s linear;
 text-decoration:underline; 
}
.footer-text {
    grid-column: 1/2;
    grid-row: 3/4;
}
.footer-text__item {
    color: var(--Light-grey);
    font-size: 16px;
    line-height: 1.5    ; 
}

#email-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 14px 24px;
    background: linear-gradient(45deg, #ff5722, #ff9800, #4CAF50, #2196F3, #9C27B0);
    background-size: 300% 300%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease;
    animation: gradientShift 5s infinite alternate, pulse 1.5s infinite alternate;
}

#email-button:hover {
    transform: scale(1.15) rotate(-2deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(46, 43, 43);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    text-align: center;
    display: none;
    z-index: 1000;
    animation: slideIn 0.5s ease-in-out;
    color: white;
    opacity: 1;
}

.popup-button {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(45deg, #ff5722, #ff9800, #4CAF50, #2196F3, #9C27B0);
    background-size: 300% 300%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    animation: gradientShift 4s infinite alternate, pulse 1.5s infinite alternate;
}

.popup-button:hover {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

#close-popup {
    margin-top: 10px;
    background: gray;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translate(-50%, -200%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}




@media (max-width: 1300px) {
    header {
        background-image: linear-gradient(to right,var(--Base) 40%, var(--Base) 30%);  
    }
    .header-section__img {
        background: url(static/images/photographer_media.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .nav__bg  {
        background-image: none;
    }
   
    .page {
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .page__title {
        font-size: clamp(32px, 7.5vw, 55px)
    }
    .page-header  {
           margin: auto 20px;
    }
    .page_wrapper {
        flex-wrap: wrap;
        padding-right: 0;
    }
    .container_xl {
        margin-bottom: 80px;
    }
    .swipper-container {
        padding-right: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .project-list, .feedback {
        padding-right: 0px;
    } 
    .feedback {
        padding-bottom: 80px;
    }
    .page-header_white_feedback {
        margin: 0;
    }
    .footer_wrapper {
        padding:  80px 40px;
    }
}
@media (max-width: 670px) {

    .nav-bar {
        padding: 24px 20px;
    }
    .menu {
        display: none;
    }
    .burger-menu{
        display: flex;
    }
    .nav__bg__start {
        height: 68px;
    }
    .header-section {
        flex-direction: column;
        padding-bottom: 0;
    }
    .header-section__img {
        width: 100vw;
        height: 40vh;
        background-position: left center;
        background-size: cover;
    }
    .header-section__title {
        box-sizing: border-box;
        right: 0;
        padding: 48px 20px 0 20px;
        width: 100vw;
    }
    .header-section__heading {
        width: 100%;
    }
    .page {
        padding: 80px 20px 0 20px;
    }
   
    .container {
        flex-wrap: wrap;
    }
    .wrapper-page {
        flex-wrap: wrap;
        height: min-content;
        align-content: space-between;
    }
    .page-header {
        margin: 48px 20px;
        width: 100%;
    }
    .page__header_s {
        width: 100%;
    }
    .page__title {
        width: 100%;
    } 
    .page-header__text {
        margin-bottom: 90px;
    }
    .page-img {
        width: 100%;
        height: 450px;
    }
    /* .page__title {
        width: max-content;
    } */
    .container_xl {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    .wrapper-project {
        padding-bottom: 80px;
    }
    .project-list {
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .project-list__card {
        margin-bottom: 48px;
    }
    .project-list__wrapper-bth {
        margin-top: 80px;
    }

    
    .page-dribbble {
        gap: 64px;
    }
    .page-header_white {
        margin: 0;
    }
    .dribbble-img {
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 0;
    }
    .dribbble-img__item {
        height: 480px;
    }
    
    .tabs__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
    .tabs__link {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }
    .tabs__item {
        width: 100%;
        
    }
    .feedback {
        flex-wrap: wrap;
        gap: 0;

    }
    .page-header__text {
        margin-bottom: 48px;
    }
    .submission-form {
        width: 100%;

    }
    .submission-form__wrapper {
        width: 100%;
    }


}
@media (max-width: 500px) {
    .footer_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr 1fr;
        gap: 48px;
        
    }
    .footer-socials {
        grid-row: 1/2;
    }
    .footer-socials__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .footer-nav {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .footer-nav__list{
       grid-template-columns: repeat(1, 1fr); 
    }
}
 
